@use "../scss/colors";

.form {
  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(colors.$white, 0.05);
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  &__text {
    &__title {
      margin-top: 1.5rem;
      color: colors.$white;
      font-size: 1.6rem;
      font-weight: 700;
    }

    &__description {
      margin-top: 0.8rem;
      color: colors.$light-grey;
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }

  &__input-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__label {
      display: grid;
      align-items: center;
      background: rgba(colors.$white, 0.05);
      height: min(3.25em, -0.25em + 13.5vw);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      color: colors.$medium-grey;
      text-align: center;
      cursor: pointer;
      transition: background 200ms, color 200ms;
    }

    &__input {
      &:checked + label {
        background: rgba(colors.$medium-grey, 0.9);
        color: colors.$white;
      }
    }

    &__label:hover,
    &__input:focus-visible + label,
    &__input:checked + label:hover {
      background: colors.$orange;
      color: colors.$white;
      transition: background 200ms, color 200ms;
    }
  }

  &__button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5rem;
    background: colors.$orange;
    cursor: pointer;
    color: colors.$white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    user-select: none;
    transition: background 200ms, color 200ms;

    &:hover,
    &:focus {
      background: colors.$white;
      color: colors.$orange;
      transition: background 200ms, color 200ms;
    }
  }
}
